body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: right;
  
}

.logo {
    float: left;
    margin-right: 20px;
    background-color: #fff;
}

.user-info {
    float: right;
    margin-top: 5px;
}

.user-icon {
    display: inline-block;
    margin-right: 10px;
    /* Add your user icon/avatar styles here */
}

.shopping-cart-icon {
    display: inline-block;
    margin-right: 10px;
    /* Add your shopping cart icon styles here */
}

.notifications-icon {
    display: inline-block;
    margin-right: 10px;
    /* Add your notifications icon styles here */
}

.sign-out-btn {
    background-color: #ff4500;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    /* Add your sign out button styles here */
}
